
@{
    ViewData["Title"] = "AntiAbuseView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Извините @ViewBag.NameSurname, но вы уже получили свой промо-код!</h2>

<p>Это ваш промо-код @ViewBag.Code . Перейдите по ссылке, чтобы его использовать: <a href="https://www.asos.com/">Shop</a> </p>

