
@{
    ViewData["Title"] = "ErrorAutentView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Аккаунта с таким логином и паролем не существует. Если вы здесь впервый раз <a href="~/Home/PersonData">Зарегистрируйтесь</a>.</h2>

