
@{
    ViewData["Title"] = "NotFoundPromoView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ваш промо-код не найден!</h2>
<p>Вы можете получить промо-код по ссылке: <a href="~/Home/PersonData">Получить промо-код!</a> </p>

