@model VladPromoCodeWebApp.Models.StartModel
@{
    ViewData["Title"] = "StartView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Пожалуйста, введите промо-код.</h2>
<form method="post">
    @Html.TextBoxFor(model=>model.Code) <input type="submit" value="Отправить" />
</form>