
@{
    ViewData["Title"] = "ThanksView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Здравствуйте @ViewBag.NameSurname! Вам выслан промо-код по электронному адресу:@ViewBag.Email. Проверьте свой почтовый ящик!</h2>

