
@{
    ViewData["Title"] = "UserCabinetView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет @ViewBag.Email</h2>

<br>
<p>Ваше Имя: @ViewBag.Name</p>
<br>
<p>Ваша фамилия: @ViewBag.Surname</p>
<br>
<p>Ваш промо-код: @ViewBag.Code</p>

<p>Перейдите по ссылке, чтобы использовать его: asos.com</p>