
@{
    ViewData["Title"] = "WarningView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>WarningView</h2>
<p>Введённый промо код не верный!</p>
<form>
    <input type="submit" value="Вернуться назад" />
</form>